@font-face{
font-family: Charter;
src: url(../fuentes/charter_regular-webfont.ttf) ;
font-style: normal;
    font-weight: 400;
    }
@font-face{
font-family: Charter;
src: url(../fuentes/charter_bold_italic-webfont.ttf) ;
font-style: italic;
font-weight: 400;
        }
@font-face{
font-family: Charter;
 src: url(../fuentes/charter_bold-webfont.ttf) ;
 font-style: normal;
 font-weight: bold;
            }
 @font-face{
font-family: Charter;
src: url(../fuentes/charter_bold_italic-webfont.ttf) ;
font-style: italic;
 font-weight: bold;
                }


    :root{
    font: 16px;
    --white30: white;
    --white20: #A5A3A5;
    --white10: #3A3539;
    
}
html{
    scroll-behavior: smooth;
}
body  {color: var(--white30);
    font-family: 'Nunito', sans-serif;
    /*font-family: Charter; */
    background: #251F24;
    margin: 0px;
    /*writing-mode: vertical-lr;*/
    /*margin-inline:100px ;*/
    /*margin-block-start: 50px;*/
    /*margin-block-end: 50px;*/
    /*margin-block: ;*/

}
a{
    color: var(--white30);
}
.header{
    
    }
    .header-content{
        padding-inline: 20px;
        
    }
header{
    /*--white10: red; */
    margin-block-start: 16px;
    font-size: 14px;
    color: var(--white30);
   
    
}
header li {
    color: var(--white20);
    margin-block-end: 16px;
}
header a {
    color: var(--white20);
text-decoration: none;
}
header a:hover {
    color: purple;
}
nav details summary {
    color: var(--white30);
    font-weight: bold;
}
h1,h2,h3 {
    font-weight: 600;
}
h1{
    font-size: 40px;
    margin-block-start: 20px;
    margin-block-end: 16px;
}
h2{
    font-size: 32px;
    /*font-weight: bold;*/
    margin-block: 40px;
}
h3{
    font-size: 24px;
    margin-block: 16px;
}
hr {
    margin-block: 40px;
    border-color: rgba(97, 97, 97, 0.2);
}
p{
    color: var(--white20);
}
pre {
    background-color: var(--white10);
    padding: 40px;
    overflow: auto;
    /*border: 1px solid chartreuse;*/
    border-radius: 8px;
    /*border: 10px solid #5551FF;
    box-shadow: -10px 10px 0px 0px #ABAAF6;
    margin-block: 30px;*/
}
.hero {
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    block-size: 50px;
    /*background-repeat: no-repeat; */
    /*background-position: top  right; */
    }
    .section-content{
        counter-reset: tittlelist;
    }
    .section-content img{
        margin-block-start:40px ;
        display: block;
        max-inline-size: 100%;
        /*max-width: 100%;*/
    }

    .section-content h3{
        counter-increment: tittlelist;
    }
    .section-content h3::before {
    content: counter(tittlelist, decimal) ". ";
}
/*.section-content h3::after {
    content: '';
    width: 32px;
    height: 4px;
    background: var(--white30);
    display:inline-block ;
}*/
/*::selection {
    background: PURPLE;
}*/

blockquote{
    margin-block-start: 80px;
    margin-block-end: 63px;
    background-color: var(--white10);
    border-radius: 8px;
    line-height: 32px;
    font-size: 24px;
    /*padding: 24px;*/
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    padding-block-start: 24px;
    padding-block-end: 24px
}
blockquote p {
    color: var(--white30);
}

.main hr{
    display: none;
}

main{
    /*border: 1px solid red;*/
}
.wrapper{
    /*border: 1px solid blue;*/
    max-inline-size: 902px;
    /*block-size: 100px;*/
    /*overflow: scroll;*/
    margin: auto;

}
.main-content{
    /*background-color: greenyellow;*/
    padding-inline: 16px;
    /*border: 1px solid yellowgreen;*/
}
summary{
    padding-block: 10px;
}
.slider{
    /*border: 1px solid hotpink;*/
}
.slider-container{
    /*border: 1px solid blue;*/
    /*block-size: 100px;*/
    display:block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0px;
}
.video{
    margin: 0;
    /*border: 1px solid blue;*/
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
.slider-bullet-list{
    /*background: yellow;*/
    text-align: center;
    margin-block-start: 10px;
}
.slider-bullet{
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: white;
    border-radius: 50%;
}
.mail p {
    color: blue;
}
.mail a {
    color: blue;
}
.form input {
    inline-size: 100%;
    border: 1px solid var(--white30);
    background-color: var(--white10);
    box-sizing: border-box;
    border-radius: 8px;
    padding-inline:16px ;
    padding-block:12px ;
    color: var(--white30);
    display: block;
    margin-block-end: 24px;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
}

.form input[type="submit"]{
    background-color: #157EFB;
    border: none;
}

.form ::-webkit-input-placeholder{
    color: var(--white20);
}

@media screen and (min-width:1024px) {
    .hero{
        block-size: 350PX;
    }
    .header{
        position:sticky;
        inset-block-start: -40px;
        }
        .header-content{
            position: relative;
            inset-block-start: 65px;
            padding-inline: 0px;
        }
    header{
        position: absolute;
        inset-block-start: 65px;
        inset-inline-start: -208px;
        inline-size: 188px;
    }
    h1{
        font-size: 60px;
        margin-block-start: 64px;
    }
    
      
    
}